on property:sys.boot_completed=1
    #usb driver
    insmod /vendor/lib/modules_longan/sunxi-hci.ko
    insmod /vendor/lib/modules_longan/ehci-sunxi.ko
    insmod /vendor/lib/modules_longan/ohci-hcd.ko
    insmod /vendor/lib/modules_longan/ohci-sunxi.ko
    insmod /vendor/lib/modules_longan/sunxi_usbc.ko
