on late-fs
### csi module
    insmod /vendor/lib/modules_longan/videobuf2-memops.ko
    insmod /vendor/lib/modules_longan/videobuf2-dma-contig.ko
    insmod /vendor/lib/modules_longan/vin_io.ko
    insmod /vendor/lib/modules_longan/gc5025_mipi.ko
    insmod /vendor/lib/modules_longan/gc2385_mipi.ko
    insmod /vendor/lib/modules_longan/gc030a_mipi.ko
    insmod /vendor/lib/modules_longan/sp5409_mipi.ko
    insmod /vendor/lib/modules_longan/c2590_mipi.ko
    insmod /vendor/lib/modules_longan/actuator.ko
    insmod /vendor/lib/modules_longan/dw9714_act.ko
    insmod /vendor/lib/modules_longan/vin_v4l2.ko
